*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 20px 20px;
}
.first{
    display: flex;
    align-items: center;
    gap: 15px;
}
.second-nav{
    display: flex;
    gap: 15px;
}

.nav-second i{
    color: white;
}
.ham-burger i{
    color: white;
    font-size: 20px;
}

.menu-items ul{
    display: flex;
    gap: 8px;
}
.menu-items ul li{
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    color: #d5d5d5;
    font-size: 12px;
    font-weight: 600;
}

.page1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page1 img{
    height:  100px;
}

.afterimage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid rgb(177, 4, 4);
    padding-bottom: 7px;

}

.date{
    font-size: 12px;
    color: rgb(121, 121, 120);

}

.slogan{
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
}

.temperature{
    text-align: right;
    font-size: 12px;
}
.number{
    color: green;
}
.below-border{
    display: flex;
    gap: 20px;
    width: 80%;
    padding: 8px 0px;
    border-bottom: solid 1px #e9e9e9 ;
}
.below-border ul{
    display: flex;
    gap: 20px;
}
.below-border h4{
    color: red;
    font-size: 16px;
}
.below-border ul li{
    list-style: none;
    font-size: 14.4px;
    font-weight: 600;
    color: #323437;
}
/* start of footer section*/


.footer{
    display: flex;
    justify-content: space-evenly;

    font-family: "Merriweather", serif;
    font-weight: normal;

    background-color: #f5f5f5;

    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3{
    line-height: 40px;
}

p{ 
    line-height: 30px;
}
.sister-publications{
    display: flex;

}

.sister-publications img{
    width: 60px;
    height: 60px;
    margin: 0px 5px;
}

.footer-note{
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.privacy-notes{
    margin-left: 150px;
    margin-top: 10px;
}
/* End of footer section*/

