*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 20px 20px;
}
.first{
    display: flex;
    align-items: center;
    gap: 15px;
}
.second-nav{
    display: flex;
    gap: 15px;
}

.nav-second i{
    color: white;
}
.ham-burger i{
    color: white;
    font-size: 20px;
}

.menu-items ul{
    display: flex;
    gap: 8px;
}
.menu-items ul li{
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    color: #d5d5d5;
    font-size: 12px;
    font-weight: 600;
}

/* start of footer section*/


.footer{
    display: flex;
    justify-content: space-evenly;

    font-family: "Merriweather", serif;
    font-weight: normal;

    background-color: #f5f5f5;

    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3{
    line-height: 40px;
}

p{ 
    line-height: 30px;
}
.sister-publications{
    display: flex;

}

.sister-publications img{
    width: 60px;
    height: 60px;
    margin: 0px 5px;
}

.footer-note{
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.privacy-notes{
    margin-left: 150px;
    margin-top: 10px;
}
/* End of footer section*/

