*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 20px 20px;
}
.first{
    display: flex;
    align-items: center;
    gap: 15px;
}
.second-nav{
    display: flex;
    gap: 15px;
}

.nav-second i{
    color: white;
}
.ham-burger i{
    color: white;
    font-size: 20px;
}

.menu-items ul{
    display: flex;
    gap: 8px;
}
.menu-items ul li{
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    color: #d5d5d5;
    font-size: 12px;
    font-weight: 600;
}